@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    margin-top: 20px;
}
.swiper-pagination-bullet-active{
    background-color: black !important;
}